<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="css/styles.css">
    <title>Sellme</title>
</head>

<body class="bg-slate-50">

    <!-- NAVIGATION BAR -->
    <div class="flex justify-around items-baseline bg-blue-100">

        <!-- LOGO SECTION -->
        <div class=" ">
            <div class="-left-24 relative p-4 text-3xl text-stone-700 font-sans font-extrabold drop-shadow-sm transition ease-in duration-100 hover:ease-in hover:cursor-pointer hover:drop-shadow-lg hover:scale-110 hover:subpixel-antialiased hover:text-black">
                Sellme
            </div>
        </div>

        <!-- THE HOME, ABOUT, CONTACTS SECTION -->
        <div class="space-x-10 flex flex-row">
            <div class="transition ease-in duration-100 hover:ease-in hover:cursor-pointer hover:drop-shadow-lg hover:scale-110 hover:subpixel-antialiased hover:text-emerald-500 hover:font-semibold">home</div>
            <div class="transition ease-in duration-100 hover:ease-in hover:cursor-pointer hover:drop-shadow-lg hover:scale-110 hover:subpixel-antialiased hover:text-emerald-500 hover:font-semibold">about</div>
            <div class="transition ease-in duration-100 hover:ease-in hover:cursor-pointer hover:drop-shadow-lg hover:scale-110 hover:subpixel-antialiased hover:text-emerald-500 hover:font-semibold">contacts</div>
        </div>


        <div class=" p-0 space-x-0 flex flex-row relative -right-20">
            <!-- SEARCH SECTION -->
            <div class="p-3">
                <form action="" class="relative mx-auto w-max -top-0">
                    <input type="search" class="ransition ease-in duration-200 peer cursor-pointer relative z-10 h-10 rounded-full border-slate-400 bg-transparent pl-19 outline-none w-full focus:cursor-text hover:border-black pl-16 hover:pr-4 focus:border-transparent focus:border-0"
                    />
                    <svg xmlns="http://www.w3.org/2000/svg" class="absolute inset-y-0 my-auto h-8 w-12 border-r border-transparent stroke-gray-500 px-3.5 peer-focus:border-slate-500 peer-focus:stroke-slate-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </form>
            </div>

            <!-- SIGN UP AND LOGIN SECTION -->
            <div class="p-4 transition ease-in duration-100 hover:ease-in hover:cursor-pointer hover:drop-shadow-lg hover:scale-110 hover:subpixel-antialiased hover:text-red-400 hover:font-bold">signup</div>
            <div class="p-4 transition ease-in duration-100 hover:ease-in hover:cursor-pointer hover:drop-shadow-lg hover:scale-110 hover:subpixel-antialiased hover:text-emerald-400 hover:font-bold">login</div>
        </div>
    </div>


    <!-- ADVERTISEMENT CAROUSEL SECTION -->
    <section>
        <!-- CAROUSEL ONE -->
        <div class="bg-blue-100 px-10">
            <div class="grid grid-cols-2 px-4 w-full h- rounded overflow-hidden">
                <div class="w-96 py-32 space-y-14">
                    <h4 class="tracking-wide text-6xl font-sans font-bold">CLOTH & WOOD SOFA</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut praesentium numquam iste perferendis eos qui sequi! Nam vel nemo ad numquam officiis id eligendi aspernatur odit? Laboriosam aliquam quasi provident.</p>
                    <button class="w-36 h-14 rounded-lg bg-gradient-to-bl from-orange-500 to-pink-500 text-white font-extrabold transition ease-in duration-300 hover:ease-in hover:scale-105">BUY NOW</button>
                </div>
                <div class="py-32">
                    <img class="object-fill col-span-2 w-fill h-96" src="img/sofabed.png" alt="image of a couch">
                </div>
            </div>
        </div>
    </section>

    <!-- CARDS AND GRIDS LAYOUT -->
    <section class="px-8 grid grid-cols-4 gap-4">
        <div iv class="mt-8">
            <!-- cards go here -->
            <div class="space-y-3 w-72 h-96 bg-white rounded overflow-hidden ease-in-out duration-300 shadow-md hover:shadow-xl hover:scale-105">
                <div>
                    <img class="w-80 h-64 overflow-hidden" src="https://images.unsplash.com/photo-1618377385526-83312906f0dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="stew">
                </div>
                <div class="space-y-3 px-4">
                    <span class="font-bold text-xl">Simple Home Bench</span>
                    <p class="text-l">$40.00</p>
                    <!-- ADD TO CART AND LIKE  -->
                    <div class="flex justify-between">
                        <div class="">
                            <p class="text-pink-500">+ ADD TO CART</p>
                        </div>
                        <div class="">
                            <img class="w-5 h-5 " src="img/heart.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div iv class="mt-8">
            <!-- cards go here -->
            <div class="space-y-3 w-72 h-96 bg-white rounded overflow-hidden ease-in-out duration-300 shadow-md hover:shadow-xl hover:scale-105">
                <div>
                    <img class="w-80 h-64 overflow-hidden" src="https://images.unsplash.com/photo-1615891618972-799500c621b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="stew">
                </div>
                <div class="space-y-3 px-4">
                    <span class="font-bold text-xl">DIY Vase</span>
                    <p class="text-l">$15.00</p>
                    <!-- ADD TO CART AND LIKE  -->
                    <div class="flex justify-between">
                        <div class="">
                            <p class="text-pink-500">+ ADD TO CART</p>
                        </div>
                        <div class="">
                            <img class="w-5 h-5 " src="img/heart.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div iv class="mt-8">
            <!-- cards go here -->
            <div class="space-y-3 w-72 h-96 bg-white rounded overflow-hidden ease-in-out duration-300 shadow-md hover:shadow-xl hover:scale-105">
                <div>
                    <img class="w-80 h-64 overflow-hidden" src="https://images.unsplash.com/photo-1616593918824-4fef16054381?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="stew">
                </div>
                <div class="space-y-3 px-4">
                    <span class="font-bold text-xl">Study set</span>
                    <p class="text-l">$150.00</p>
                    <!-- ADD TO CART AND LIKE  -->
                    <div class="flex justify-between">
                        <div class="">
                            <p class="text-pink-500">+ ADD TO CART</p>
                        </div>
                        <div class="">
                            <img class="w-5 h-5 " src="img/heart.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div iv class="mt-8">
            <!-- cards go here -->
            <div class="space-y-3 w-72 h-96 bg-white rounded overflow-hidden ease-in-out duration-300 shadow-md hover:shadow-xl hover:scale-105">
                <div>
                    <img class="w-80 h-64 overflow-hidden" src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="stew">
                </div>
                <div class="space-y-3 px-4">
                    <span class="font-bold text-xl">Couch</span>
                    <p class="text-l">$199.00</p>
                    <!-- ADD TO CART AND LIKE  -->
                    <div class="flex justify-between">
                        <div class="">
                            <p class="text-pink-500">+ ADD TO CART</p>
                        </div>
                        <div class="">
                            <img class="w-5 h-5 " src="img/heart.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div iv class="mt-8">
            <!-- cards go here -->
            <div class="space-y-3 w-72 h-96 bg-white rounded overflow-hidden ease-in-out duration-300 shadow-md hover:shadow-xl hover:scale-105">
                <div>
                    <img class="w-80 h-64 overflow-hidden" src="https://images.unsplash.com/photo-1616486701797-0f33f61038ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="stew">
                </div>
                <div class="space-y-3 px-4">
                    <span class="font-bold text-xl">Dinning Table</span>
                    <p class="text-l">$99.00</p>
                    <!-- ADD TO CART AND LIKE  -->
                    <div class="flex justify-between">
                        <div class="">
                            <p class="text-pink-500">+ ADD TO CART</p>
                        </div>
                        <div class="">
                            <img class="w-5 h-5 " src="img/heart.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div iv class="mt-8">
            <!-- cards go here -->
            <div class="space-y-3 w-72 h-96 bg-white rounded overflow-hidden ease-in-out duration-300 shadow-md hover:shadow-xl hover:scale-105">
                <div>
                    <img class="w-80 h-64 overflow-hidden" src="https://images.unsplash.com/photo-1617104424032-b9bd6972d0e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=792&q=80" alt="stew">
                </div>
                <div class="space-y-3 px-4">
                    <span class="font-bold text-xl">Shoe area Set</span>
                    <p class="text-l">$50.00</p>
                    <!-- ADD TO CART AND LIKE  -->
                    <div class="flex justify-between">
                        <div class="">
                            <p class="text-pink-500">+ ADD TO CART</p>
                        </div>
                        <div class="">
                            <img class="w-5 h-5 " src="img/heart.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div iv class="mt-8">
            <!-- cards go here -->
            <div class="space-y-3 w-72 h-96 bg-white rounded overflow-hidden ease-in-out duration-300 shadow-md hover:shadow-xl hover:scale-105">
                <div>
                    <img class="w-80 h-64 overflow-hidden" src="https://images.unsplash.com/photo-1617098650990-217c7cf9de26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="stew">
                </div>
                <div class="space-y-3 px-4">
                    <span class="font-bold text-xl">Minimal Table</span>
                    <p class="text-l">$65.00</p>
                    <!-- ADD TO CART AND LIKE  -->
                    <div class="flex justify-between">
                        <div class="">
                            <p class="text-pink-500">+ ADD TO CART</p>
                        </div>
                        <div class="">
                            <img class="w-5 h-5 " src="img/heart.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div iv class="mt-8">
            <!-- cards go here -->
            <div class="space-y-3 w-72 h-96 bg-white rounded overflow-hidden ease-in-out duration-300 shadow-md hover:shadow-xl hover:scale-105">
                <div>
                    <img class="w-80 h-64 overflow-hidden" src="https://images.unsplash.com/photo-1618221520382-3d68e64f58ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="stew">
                </div>
                <div class="space-y-3 px-4">
                    <span class="font-bold text-xl">Side table</span>
                    <p class="text-l">$40.00</p>
                    <!-- ADD TO CART AND LIKE  -->
                    <div class="flex justify-between">
                        <div class="">
                            <p class="text-pink-500">+ ADD TO CART</p>
                        </div>
                        <div class="">
                            <img class="w-5 h-5 " src="img/heart.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER SECTION -->
    <section>
        <div class="py-40 px-16">
            <p class="tracking-wide text-6xl font-sans font-bold text-center ">FOOTER IN PROGRESS 😉</p>
        </div>
    </section>

</body>

</html>